body{
    padding: 0;
    margin: 0;    
    width:100vw;
    height: 100vh;  
    
}
.panel{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.question-container{
    margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 45vh;
    background-color: #c7dddf;
    font-size: x-large;
    text-align: center;
    font-size: 30px;    
}
.result{
    margin: 10px;
    padding: 5px;
    width:80vw;
    height: 10vh;
    text-align: center;
    font-size: 50px;
    font-size: 30px;  
      
}
.option-container{
    display: flex;
    justify-content: space-around; 
    margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 20vh;
    background-color: #9eb1b3;   
    font-size: 30px;  
        
}
.option{    
    padding: 10px;
    width: 45vw;
    height: 40vh;
    font-size: larger;
    background-color: lightskyblue;
    border-radius: 25%;
    font-size: 50px;  
}
.option:hover{
    background-color: lightgoldenrodyellow;
}
.navigation{
    width: 80vw;
    height: 10vh;
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
  
}
  
.evaluate,.next{
    width:30vw;
    height: 5vh;
    padding: 5px;
    font-size: larger;
    margin-top: 150px ;
}
.evaluate{
    
    background-color: #50DBB4;
}
.next{
    color: white;
    background-color: #BF3325;
}


@media (min-width: 414px) {

    body {
  
      width: 100vw;
      height: 100vh;
    }
  

  .panel{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
   
}
.question-container{
    margin: 20px;
    padding: 100px;
    width: 80vw;
    height: 60vh;
    background-color: #c7dddf;
    text-align: center;
    font-size: 16px;
      
}
.result{
    margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 10vh;
    text-align: center;
    font-size: 50px;
    margin-top: 320px;
      
}
.option-container{
    display: flex;
    justify-content: space-around; 
    margin: 20px;
    padding: 20px;
    width: 100vw;
    height: 55vh;
    background-color: #2f5f64;   
        
}
.option{    
    padding: 5px;
    width: 42vw;
    height: 45vh;
    font-size: larger;
    background-color: lightskyblue;
    border-radius: 30%;
    font-size: 13px;
}
.option:hover{
    background-color: lightgoldenrodyellow;
}
.navigation{
    width: 80vw;
    height: 10vh;
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
  
}
  
.evaluate,.next,.reload{
    width:30vw;
    height: 5vh;
    padding: 5px;
    font-size: larger;
    margin-top: 20px ;
    margin: 10px;
}
.evaluate{
    
    background-color: #50DBB4;
}
.next{
    color: white;
    background-color: rgb(212, 19, 19);
}
.reload {
    color: white;
    background-color: rgb(97, 14, 97);
}

}
